*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/package/feeds/packages
!/feeds/luci/
#!/package/feeds/luci/
/package/openwrt-packages
/feeds/pacakges*
*.orig
/.svn
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
